.cart-items-list__empty {
    margin-top: 400px;
}

.cart-items-list__title {
    font-size: 30px;
    margin-bottom: 20px;
}

.cart-items-list {
    width: 100%;
    display: flex; 
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.cart-items-list__list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 500px;
    background-color: #e6e5e8;
    border-radius: 5px 5px 0 0;
    padding: 15px 0;
}

.cart-items-list__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 400px;
    height: 50px;
    border-radius: 5px;
    background-color: #2f445c;
    margin: 10px 0;
    padding: 5px 10px;
}

.cart-items-list__text {
    color: #d2d8e4;
    font-size: 14px;
    margin-right: 10px;
}

.cart-items-list__btn-green {
    height: 30px;
    width: 30px;
    border-radius: 5px;
    border: none;
    background-color: #228657;
    color: #ffffff;
    margin-right: 10px;
}

.cart-items-list__btn-red {
    height: 30px;
    width: 30px;
    border-radius: 5px;
    border: none;
    background-color: #99292f;
    color: #ffffff;
}

.cart-items-list__con {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cart-items-list__con2 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2f445c;
    width: 500px;
    height: 70px;
    border-radius: 0 0 5px 5px;
}

.cart-items-list__btn-order {
    height: 35px;
    width: 180px;
    border-radius: 5px;
    border: none;
    background-color: #228657;
    color: #ffffff;
    margin-right: 10px;
}